<!DOCTYPE html>
<!-- Template for the main topic list page. -->

<html>
<head>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'rychat/style.css' %}">

</head>

<body>
<h1>Welcome to RyChat</h1>
{% if thread_index %}
      <ul>
      {% for thread in thread_index %}
            <li><a href="{% url 'rychat:topic' thread.id %}">{{thread.title}}</a></li>
      {% endfor %}
      </ul>
{% else %}
      <p>No threads available right now. Check back later.</p>
{% endif %}
</body>

</html>
