{% extends "base_generic.html" %}
<!-- Template for the main topic list page. -->

{% block content %}

{% if thread_index %}
      <ul>
      {% for thread in thread_index %}
            <li><a href="{% url 'rychat:topic' thread.id %}">{{thread.title}}</a></li>
      {% endfor %}
      </ul>
{% else %}
      <p>No threads available right now. Check back later.</p>
{% endif %}


{% if user.is_authenticated %}
<div id="New_Thread_Form">
<form action="{% url "rychat:newthread" %}" method="post">
      {% csrf_token %}
      <b>New Thread:</b><br>
      <label for="titlebox">Title:</label><br>
      <input name="title" id="titlebox" type="text" size="65"><br>
      <label for="replybox">Body:</label><br>
      <textarea name="message" id="replybox" maxlength="1024"
      placeholder="Your message here..."></textarea><br>

      <input type="submit" value="Post!">
</form>
</div>
{% else %}
<div>
      <p>Login to start a new thread.</p>
</div>
{% endif %}

{% endblock %}
