{% extends "base_generic.html" %}
<!-- Template for an individual thread page. -->

{% block content %}
{% if thread_topic %}
      <h2>{{ thread_topic.title }}</h2>

      {% if thread_topic.author %}
            <h3>{{ thread_topic.author.username }}: </h3>
      {% else %}
            <h3>(deleted_user):<h3>
      {% endif %}

      <p> {{ thread_topic.text }} </p>
      {% if user == thread_topic.author or can_delete_threads %}
            <a class="delete_link" href="{% url 'rychat:deletethread' thread_topic.id %}">
                  [Delete thread?]
            </a>
      {% endif %}
      <ul id="reply_list">
            {% for reply in thread_topic.reply_set.all %}
            <li>
                  {% if reply.author %}
                  <h3>{{ reply.author.username }}:</h3>
                  {% else %}
                  <h3>(deleted_user):</h3>
                  {% endif %}
                  <p>{{reply.text}}</p>
                  {% if user == reply.author or can_delete %}
                  <a class="delete_link" href="{% url 'rychat:delete' reply.id %}">
                        [Delete reply?]
                  </a>
                  {% endif %}
            </li>
      {% endfor %}
      </ul>

      {% if user.is_authenticated %}
      <div>
      <form action="{% url "rychat:post" thread_topic.id %}" method="post">
            {% csrf_token %}
            <b>Posting as: {{ user.username }}</b><br>
            <label for="replybox">Reply:</label><br>
            <textarea name="message" id="replybox" maxlength="1024"
             placeholder="Your message here..."></textarea><br>

            <input type="submit" value="Post!">
      </form>
      </div>
      {% else %}
      <div>
            <p>Login to reply to this thread.</p>
      </div>
      {% endif %}
{% else %}
      <p>
      This thread does not exist. I do not know how you got to this page.
      </p>
{% endif %}
<a href="{% url 'rychat:index' %}">[Back to Index]</a>

{% endblock %}
