  <!DOCTYPE html>
<!-- Template for an individual thread page. -->
<html>
<head>
{% load static %}
<title>RyChat</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="{% static 'rychat/css/style.css' %}">
{% block pagestyle %}<!-- css for individual pages goes here -->{% endblock %}
</head>

<body>

{% block navbar %}
<nav class="navbar">
      <div class="site-title">
            <a id="logo" href="{% url 'rychat:index' %}"><h1>RyChat</h1> </a>
      </div>

      <div></div>

      <ul class="nav-login">
      {% if user.is_authenticated %}
            <li id="nav-greeting">Welcome, {{ user.username }}.</li>
            <a href="{% url 'logout' %}?next={{request.path}}">
                  <li class="nav-option">
                        Logout?
                  </li>
            </a>

      {% else %}
            <a href="{% url 'login' %}?next={{request.path}}">
                  <li class="nav-option">
                        Login Here
                  </li>
            </a>
            <br>
            <a href="{% url 'rychat:register' %}?next={{request.path}}">
                  <li class="nav-option">
                        New User?
                  </li>
            </a>
      {% endif %}
      </ul>
</nav>


{% endblock %}

{% block content %}<!-- Default Content -->{% endblock %}

</body>

</html>
